.helo {
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
}

.learnbtn2 {
  font-family: 'Sackers Gothic Std';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  text-align: left;
  text-transform: lowercase;
  margin-left: 5%;
  margin-right: 5%;
  color: #fff;
}

.titlemar {
  /* margin-top: 1px; */
  text-align: left;
  right: 50px;
  font-family: 'Sackers Gothic Std';

  /* color: white; */
  font-style: normal;
  font-weight: 500;
  font-size: 17px;

  /* line-height: 20px; */

  /* text-transform: lowercase;
    z-index: 1;  */

  /* background-color: aliceblue; */
  color: #c49a50;
}

.titlemar2 {
  /* margin-top: -65px; */
  font-family: 'Sackers Gothic Std';
  font-style: normal;
  font-weight: 300;
  word-spacing: 10px;

  /* letter-spacing: 8px; */
  font-size: 45px;
  line-height: 46px;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
}

.textm2 {
  /* background-color: aliceblue; */
  margin-top: 100px;
  text-align: left;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;

  /* or 36px */

  color: #b4b4be;
}

.imgm2 {
  width: 218px;
  height: 326px;
  margin-left: 150px;
  margin-top: 140px;
  filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.48));
  border-radius: 4px;
}

.img2ink2 {
  width: 122px;
  height: 200px;
  margin-left: 55px;
  margin-top: -280px;
  border-radius: 5px;
}

.img2ink3 {
  width: 146px;
  height: 112px;
  margin-left: 305px;
  margin-top: -150px;
  border-radius: 5px;
}

.img2ink4 {
  width: 147px;
  height: 98px;
  margin-left: 242px;
  margin-top: 70px;


  /* filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25)); */
  border-radius: 3px;
}

.img2ink5 {
  width: 155px;
  height: 150px;
  margin-left: 352px;
  margin-top: -430px;
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.25));
  border-radius: 3px;
}

.img2ink6 {
  width: 146px;
  height: 97px;
  margin-left: 480px;
  margin-top: -35px;

  /* filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25)); */
  border-radius: 3px;
}

.img2ink7 {
  width: 110px;
  height: 140px;
  margin-left: 430px;
  margin-top: 55px;

  /* filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25)); */
  border-radius: 3px;
}

.img2ink8 {
  width: 110px;
  height: 160px;
  margin-left: 625px;
  margin-top: -355px;

  /* filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25)); */
  border-radius: 3px;
}

.img2ink9 {
  width: 160px;
  height: 110px;
  margin-left: 560px;
  margin-top: 30px;

  /* filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25)); */
  border-radius: 3px;
}

@media only screen and (max-width: 900px) {
  .helo {
    margin-top: 25%;
  }

  .imgm {
    width: 200px;
    height: 180px;
    margin-left: 150px;
    margin-top: 100px;
    filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.48));
    border-radius: 4px;
  }
}
