.mslider {
  background: radial-gradient(78.08% 528.77% at 85.42% 39.59%, #0c1f30 33.33%, #02060a 100%);
  height: 648px;
}

.sc-bczRLJ:hover {
  background-color: #c49a50 !important;
}

.mlider {
  height: 640px;
}

/* Tablet Responsive */
@media only screen and (max-width: 900px) {
  .mlider {
    height: 900px;
  }
}

/* Mobile Responsive */
@media only screen and (max-width: 600px) {
  .mlider {
    height: 1100px;
  }
}
